#chat-box {
    width: 30%;
    height: 95%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #D3D3D3;
}

#ikea-box {
    width: 70%;
    height: 100;
    left: 0;
    position: fixed;
    text-align: center;
}

#furniture-image{
    height:95%;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;
}

#send-box {
    padding:0.5%;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 50px;
    height: 5%;
    z-index: 10;
}



.bot {
    background: skyblue;
}

.user {
    background: orange;
}

.message {
    padding: 10px;
    display: inline-block;
    border-radius: 10;
}

#messages {
    position: absolute;
    bottom: 0;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 5px;
}
