<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./static/styles.css">
</head>
    <body>
        <div id="chat-box">
            <form id="message-box-form" action="{{ url_for('send')}}" method="post">
            <input type="text" id="send-box" name="send-text" placeholder="try saying hi!">
            </form>
            <div id="messages">
            {%for i in messages%}
                {% if i[0] == 'user'%}
                    <p align="right" class="user" class="message">{{ i[1] }}</p>
                {% else %}
                    <p align="left" class="bot" class="message">{{ i[1] }}</p>
                {%endif%}
            {% endfor %}
            </div>
        </div>
        <div id="image-box">
            <img id="furniture-image" src="{{ image }}">

        </div>
    </body>
</html>